<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darkcom.decoration.mapper.AddressMapper">

  <resultMap id="BaseResultMap" type="com.darkcom.decoration.model.Address">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="AREA" jdbcType="VARCHAR" property="area" />
    <result column="DETAIL_ADDRESS" jdbcType="VARCHAR" property="detailAddress" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="IS_DEFAULT" jdbcType="INTEGER" property="isDefault" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PHONE, NAME, PROVINCE, CITY, AREA, DETAIL_ADDRESS, CREATE_TIME, UPDATE_TIME, IS_DEFAULT, ACCOUNT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TBL_ADDRESS
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAddressList" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    FROM TBL_ADDRESS
    WHERE ACCOUNT = #{account,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TBL_ADDRESS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.darkcom.decoration.model.Address">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TBL_ADDRESS (NAME, PHONE, PROVINCE, CITY, AREA,
      DETAIL_ADDRESS, CREATE_TIME, UPDATE_TIME, 
      IS_DEFAULT, ACCOUNT)
    values (#{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR},
      #{detailAddress,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDefault,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.darkcom.decoration.model.Address">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TBL_ADDRESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        PHONE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="province != null">
        PROVINCE,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="area != null">
        AREA,
      </if>
      <if test="detailAddress != null">
        DETAIL_ADDRESS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="isDefault != null">
        IS_DEFAULT,
      </if>
      <if test="account != null">
        ACCOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null">
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.darkcom.decoration.model.Address">
    update TBL_ADDRESS
    <set>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        AREA = #{area,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null">
        DETAIL_ADDRESS = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDefault != null">
        IS_DEFAULT = #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.darkcom.decoration.model.Address">
    update TBL_ADDRESS
    set PROVINCE = #{province,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      AREA = #{area,jdbcType=VARCHAR},
      DETAIL_ADDRESS = #{detailAddress,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      IS_DEFAULT = #{isDefault,jdbcType=INTEGER},
      ACCOUNT = #{account,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <update id="setAddressUndefault" parameterType="java.lang.String">
    update TBL_ADDRESS
    set
      IS_DEFAULT = FALSE
    where ACCOUNT = #{account,jdbcType=VARCHAR}
  </update>

  <update id="setAddressDefault" >
    update TBL_ADDRESS
    set
    IS_DEFAULT = #{isDefault,jdbcType=INTEGER}
    where ID = #{addressId,jdbcType=INTEGER}
  </update>
</mapper>